<div class="background mt-2">
  <div class="man">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="box typewriter">
              <p>Hello there</p>
            </div>
          </div>
          <div class="row">
            <div class="box2 typewriter">
              <p>How can I help you</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row"><strong>hello</strong></div>
          <div class="row">hello</div>
          <div class="row">hello</div>
          <div class="row">hello</div>
        </div>
      </div>
    </div>
  </div>
</div>
