.input-group {
  max-width: 400px;
  border: 0;
}

@media only screen and (max-width: 600px) {
  .input-group {
    display: none;
  }
}

.btn {
  z-index: 0;
}

/* SidePanel Config */
.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: -5px 0px 20px rgb(34, 33, 33);
}

.sidepanel:target {
  transform: translateX(-200px);
  opacity: 1;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
}

.link {
  font-size: 20px;
  margin-right: 20px;
}
